.navContainer {
  height: 100px;
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
}

.navContainer .logoName {
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: var(--white);
}

.navContainer .navActions {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navContainer .navActions .navigationLinks {
    display: flex;
    gap: 20px;
    line-height: 45px;
}

.navContainer .navActions .navigationLinks a {
  font-size: 24px;
  text-decoration: none;
  color: var(--white);
}

.navContainer .navActions .navigationLinks a.active {
    text-decoration: underline;
    color: var(--primary);
}

.navContainer .navActions .navigationLinks a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.navContainer .navActions svg {
    fill: var(--primary);
}

.navContainer .navActions svg:hover {
  fill: var(--white);
}

@media (max-width: 1024px) {
  .navContainer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;
    gap: 10px;
  }

  .navContainer .navActions {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .navContainer .navActions .navigationLinks {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 20px;
  }

  .navContainer .logoName {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .navContainer {
    padding: 15px;
  }

  .navContainer .navActions {
    display: none;
  }

  .navContainer .logoName {
    font-size: 24px;
  }

  .navContainer .navActions .navigationLinks {
    flex-direction: column;
    gap: 10px;
  }

  .navContainer .navActions .navigationLinks a {
    font-size: 20px;
  }

  .navContainer .navActions {
    gap: 15px;
  }

  .navContainer .navActions svg {
    font-size: 28px;
  }
}

@media (max-width: 480px) {

  .navContainer .navActions {
    display: none;
  }
  .navContainer .navActions .navigationLinks {
    font-size: 18px;
  }

  .navContainer .navActions .navigationLinks a {
    font-size: 18px;
  }

  .navContainer .logoName {
    font-size: 20px;
  }
}
