.navContainer {
  height: 100px;
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
}

.navContainer .logoName {
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: var(--white);
}

.navContainer .navActions {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navContainer .navActions .navigationLinks {
    display: flex;
    gap: 20px;
    line-height: 45px;
}

.navContainer .navActions .navigationLinks a {
  font-size: 24px;
  text-decoration: none;
  color: var(--white);
}

.navContainer .navActions .navigationLinks a.active {
    text-decoration: underline;
    color: var(--primary);
}

.navContainer .navActions .navigationLinks a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.navContainer .navActions svg {
    fill: var(--primary);
}

.navContainer .navActions svg:hover {
  fill: var(--white);
}